@charset "utf-8";
body {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    z-index: 0;
}
#blackbg{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background-color: black;
    -moz-opacity: 0.8;
    opacity: 0.80;
    filter: alpha(opacity=80);
    z-index: 22;
}
#deviceready{
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    background: skyblue;
    background: url('http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/bgimg.jpg');
}
#mainbox{
    width: 1920px;
    position: absolute;
    top:0px;
    left:0px;
    display: none;

    transition:all 0.2s;
    -moz-transition:all 0.2s;
    -webkit-transition:all 0.2s;
}
#opacityBg1{
    width: 1784px;
    height: 740px;
    position: absolute;
    top: 106px;
    left: 68px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/opacitying.png");
    z-index: -1;
    display: none;
}
#opacityBg2{
    width: 1784px;
    height: 504px;
    position: absolute;
    top: 106px;
    left: 68px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/opacityw.png");
    z-index: -1;
    display: none;
}
#maintop{
    width: 1920px;
    height:70px;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    margin: auto;
}
#toplog{
    position: absolute;
    top: 19px;
    left:83px;
    width: 472px;
    height: 65px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/newlogo.png");
}
.topbtn{
    background: white;
    text-align: center;
    height: 50px;
    width: 168px;
    line-height: 50px;
    font-size: 36px;
    position: absolute;
    top:30px;
}
#myaward{
    right: 316px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/myaward.png");
}
#rule{
    right: 88px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/rule.png");
}
#myaward.btnFocus{
    right: 316px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/myawardf.png");
}
#rule.btnFocus{
    right: 88px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/rulef.png");
}
#maingame{
    width: 1920px;
    position: absolute;
    top:128px;
    left:0;
    right: 0;
    margin: auto;
}
.gamebox{
    position: relative;
    top:0px;
    left: 0;
    right: 0;
    margin: auto;
    width: 1744px;
    background: lightgoldenrodyellow;
}
#waitgame{
    width: 1736px;
    display: none;
    height: 240px;
    padding: 4px;
    background:  url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/waitbanner.jpg");
}
#waitInfo{
    position: absolute;
    top:18px;
    right: 11px;
    width: 336px;
    height: 68px;
    text-align: center;
    color: white;
    background:  url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/timebanner.png");
}
#waitTop,.todaylistnum{
    display: none;
}
#waitBest,#waitTop{
    display: inline-block;
    font-size: 18px;
    height: 28px;
    line-height: 38px;
}
#waitOvertimes{
    font-size: 22px;
}
#waitOvertimes span{
    font-size: 26px;
    color: #fffa70;
}
#waitgame .gametime{
    position: absolute;
    top:180px;
    left: 0;
    right: 0;
    margin: auto;
    width: 1720px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #4b0486;
    width: 452px;
    height: 37px;
    line-height: 37px;
    background:  url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/timetime.png");
}
#gameing{
    display: none;
    height:483px;
    background:  url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/gameingbanner.jpg");
    /*padding: 4px;*/
}
#startbtn{
    width: 366px;
    height:88px;
    font-size: 26px;
    line-height: 96px;
    position: absolute;
    top:328px;
    left:0;
    right:0;
    text-align: center;
    margin: auto;
    color: #870404;
    padding: 4px;
    border-radius: 38px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/startbtn.png");
}
.btnFocus #startbtn{
    padding: 0px;
    width: 374px;
    height:96px;
    border: 4px solid white;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/startbtnf.png");
    color: #ffc833;
}
#startbtn span{
    display: block;
    position: absolute;
    top: 20px;
    left: 148px;
    width: 60px;
}
#gameing .gametime{
    position: absolute;
    top:433px;
    width: 1744px;
    text-align: center;
    font-size: 26px;
    color: #fff;
}
#todaymarquee{
    width: 515px;
    height: 65px;
    position: absolute;
    top:17px;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
    font-size: 26px;
    color: #bfb0ff;
    overflow:hidden;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/marquee.png");
}
#todayawardul li{
    height: 65px;
    line-height: 65px;
}
#todayrecord{
    width: 440px;
    height:65px;
    position: absolute;
    top:22px;
    left:1286px;
    line-height: 65px;
    text-align: center;
    font-size: 28px;
    color: #fff;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/todaymax.png");
}
#menu{
    width: 1920px;
    left:0;
    right: 0;
    margin: auto;
    position: relative;
    top:20px;
    font-size: 26px;
    height: 190px;
}
.secondBox{
    text-align: center;
    display: block;
    float: left;
    color: white;
}
.menubox{
    width: 323px;
    height: 137px;
    display: block;
    float: left;
    margin-left:50px;
    background: lightcoral;
    overflow: hidden;
    border-radius: 43px;
    padding: 4px;
}
.menubox.btnFocus{
    padding: 0px;
    border: 4px solid white;
}
.title{
    margin-left: 50px;
    height: 45px;
    line-height:30px;
}
#awardlist,#freeList{
    width: 443px;
    background:  url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/mission3.png");
}
#freerule{
    width: 1360px;
    height:929px;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin: auto;
    display: none;
    z-index: 5;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/free/rulepage.png");
}
#awardul{
    font-size: 22px;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
#awardul li{
    height: 27.4px;
    line-height: 27.4px;
}
.li_s1,.li_s2,.li_s3{
    display: inline-block;
}
.li_s1{
    width: 50px;
}
.li_s2{
    width: 150px;
}
.li_s3{
    width: 100px;
}
#missionbox .menubox:nth-child(2),#missionbox .title:nth-child(1){
    margin-left: 103px;
}
#mission1{
    font-size: 26px;
    font-weight: bold;
    line-height: 80px;
    background:  url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/mission1.png");
}
#mission2{
    background:  url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/mission2.png");
}
#mainlist{
    width: 1920px;
    position: relative;
    top: 105px;
}
.listbox{
    height: 320px;
}
.module1{
    width: 698px;
    height: 270px;
    margin-left: 84px;
    display: block;
    float: left;
    position: relative;
    padding: 4px;
}
.module1 img{
    width: 698px;
    height: 270px;
}
.module2,.module3{
    display: block;
    float: left;
    width: 458px;
    height: 270px;
    margin-left: 57px;
    position: relative;
    padding: 4px;
}
.module2 img,.module3 img{
    width: 458px;
    height: 270px;
}
.coupon{
    position: absolute;
    bottom:0px;
    right:10px;
    font-size: 20px;
    color: white;
}

#rulePage{
    width:1920px;
    height:1080px;
    overflow: hidden;
    background: lightyellow;
    display: none;
}

#freePage{
    width:1920px;
    height:1080px;
    overflow: hidden;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/free/freebg.png");
    display: none;
}
.fbtn,.fbtnfocus{
    position: absolute;
    top: -2px;
    right: 80px;
}
.fbtnfocus{
    display: none;
}
#freeDivBox{
    position: absolute;
    top: 365px;
    width: 1920px;
    height: 715px;
    overflow: hidden;
}
#freeDiv{
    position: absolute;
    top: 0px;
    width: 1920px;
    transition:all 0.2s;
    -moz-transition:all 0.2s;
    -webkit-transition:all 0.2s;
}
.product{
    width: 298px;
    height: 388px;
    display: block;
    float: left;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/free/testproduct.png");
    margin-left: 63px;
    margin-top: 50px;
}
.freelist{
     width: 1744px;
     /*overflow: hidden;*/
     margin-left: 88px;
 }
#specialFree{
    position: relative;
    /*top:50px;*/
    color: #ffffff;
    font-size: 52px;
    line-height: 52px;
    font-weight: bold;
    display: none;
}
#specialFree span{
    font-size: 30px;
    font-weight: normal;
}
#specialList,#normalList{
    margin-top: -30px;
    margin-left: -63px;
}
#normalFree{
    clear: both;
    position: relative;
    top:50px;
    color: #ffffff;
    font-size: 52px;
    font-weight: bold;
}











.coocaabtn{
    /*padding: 4px;*/
}
.coocaabtn.btnFocus{
    opacity: 1;
    box-shadow: 0px 0px 0px 0px black;
    transform: scale(1.08, 1.08);
    -ms-transform: scale(1.08, 1.08);
    /* IE 9 */
    -webkit-transform: scale(1.08, 1.08);
    /* Safari 和 Chrome */
    -o-transform: scale(1.08, 1.08);
    /* Opera */
    -moz-transform: scale(1.08, 1.08);
    z-index: 2;
}
#waitgame.btnFocus,#gameing.btnFocus,#freebtn.btnFocus{
    opacity: 1;
    /*border: 4px solid white;*/
    padding: 0px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari 和 Chrome */
    -o-transform: scale(1, 1);
    /* Opera */
    -moz-transform: scale(1, 1);
    z-index: 2;
}
#waitgame.btnFocus{
    border: 4px solid white;
}
.product.btnFocus{
    box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
}
#mainlist .btnFocus{
    padding: 0px;
    border: 4px solid white;
}
#msgToastBox{
    width: 1920px;
    height: 100px;
    text-align: center;
    position: absolute;
    top:930px;
    font-size: 30px;
}
#msgToast{
    background: white;
    display: inline-block;
    height: 80px;
    line-height:80px;
}
#rankbox{
    display: none;
}
#nochancebox,#helpQrcode{
    display: none;
    width: 956px;
    height:655px;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    margin: auto;
    z-index: 5;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/window.png");
}
#gotoMission,#helpFriend,.btnborder{
    width: 213px;
    height: 91px;
    font-size: 36px;
    position: absolute;
    top: 469px;
    left: 182px;
    background: white;
    text-align: center;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/gotomission.png");
}
#helpFriend,#helpFriendborder{
    left: 481px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/help.png");
}
#gotoMissionborder,#helpFriendborder{
    display: none;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/border.png");
}
.nochanceTitle,.qrcodetitle{
    color: #5200a5;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top:268px;
    width: 900px;
}
#qrcodeBox{
    padding: 5px;
    width: 200px;
    height:200px;
    background: white;
    border: 3px solid #5200a5;
    position: absolute;
    top:0;
    left:0;
    right: 52px;
    bottom:0;
    margin: auto;
}
.qrcodetitle{
    top:460px;
}
.qrcodetitle span{
    font-size: 24px;
}

#blackBg {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background-color: black;
    -moz-opacity: 0.8;
    opacity: 0.80;
    filter: alpha(opacity=80);
    z-index: 3;
}



/*张瑶 排行榜*/
.clearfix {
    overflow: auto;
    zoom: 1;
}
.inaline{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis
}
#notBegin{
    width: 1920px;
    height: 1080px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/namelist/rank_null_bg.png");
}
#notBegin > ul{
    width: 900px;
    height: 400px;
    margin: 0 auto;
    padding-top: 390px
}
#notBegin .text1{
    color: #fff;
    font-size: 46px;
    text-align: center;
}
#notBegin .text2{
    color: #8ffff4;
    font-size: 40px;
    text-align: center;
    margin: 60px 0
}
#notBegin .text2 span{
    color: #4f009a;
    font-weight: bold;
    background: #8ffff4;
    padding:2px 20px;
    border-radius: 15px;
    font-size: 36px
}
#begin{
    width: 1920px;
    height: 1080px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/namelist/rank_bg.png");
    position: relative;
}
.btn_Get{
    margin-top: 10px;
    text-align: center;
    width: 100%;
    position: relative;
}
#rankbox .btn_Get .btnFocus{
    background-image: url(http://sky.fs.skysrt.com/statics/webvip/webapp/double11/namelist/task_btn_focus.png);
    background-repeat: no-repeat;
    background-size: 100%;

}
.btn_Get .submit{
    width: 228px;
    height: 75px;
    display: inline-block;
    margin: 0 auto;
}

.realTime{
    width: 740px;
    height: 530px;
    position: absolute;
    top:310px;
    left: 150px
}
.exemption{
    width: 740px;
    height: 530px;
    position: absolute;
    top:310px;
    right: 150px
}
.exemption .title{
    position: absolute;
    width: 322px;
    height: 66px;
    line-height: 66px;
    color: #ff2a00;
    font-weight: bold;
    left: 164px;
    top: -30px;
    text-align: center;
    font-size: 38px
}
.ranking{margin-top: 55px;font-size: 28px}
.ranking .order{display: inline-block; width: 36px; height: 42px; text-align: center; color: #fff}
.ranking li{height: 42px; line-height: 42px; margin-bottom: 5px; list-style: none}
.ranking li span{display: inline-block; float: left; text-align: left; margin-left:42px; color: #b7a4d1 }
.ranking .name{width: 190px; color: #fff; }
.ranking .coin{width: 180px;color: #ffef4a;}
.icon{background-image: url(http://sky.fs.skysrt.com/statics/webvip/webapp/double11/namelist/icon.png); display: inline-block;    font-size: 0px; }
.first{background-position: 0px 6px;}
.two{background-position: 0px 98px;}
.three{background-position: 0px 48px;}
.rankNull,.exemptionNull{
    text-align: center;
    margin-top: 190px
}
.rank_foot{
    position: absolute;
    bottom: 8px;
    height: 212px;
    text-align: center;
    width: 100%;
}
.foot1{
    text-align: center;
}
.foot1 li{
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    color: #fff;
    list-style: none;
    display: inline-block;
    margin: 0px 120px;
}

.foot1 li span{
    color: #ffe825;
    font-size: 40px;
    margin: 0 10px;
}
.foot1 .pm{
    background-position: -47px -2px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
}
.foot1 .redbag{
    background-position: -47px -54px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

.foot2,.foot3{
    height: 30px;
    line-height: 30px;
    color: #8ffff4;
    font-size: 26px
}

.rank_Get,.again_Get,.login_Get,.start_Get{
    position: relative;
    display: inline-block;
    margin: 0 50px
}

#rankbox .rank_Get .btnFocus{
    background-image: url(http://sky.fs.skysrt.com/statics/webvip/webapp/double11/namelist/task_btn_focus.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#rankbox .again_Get .btnFocus{
    background-image: url(http://sky.fs.skysrt.com/statics/webvip/webapp/double11/namelist/again_btn_focus.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#rankbox .login_Get .btnFocus{
    background-image: url(http://sky.fs.skysrt.com/statics/webvip/webapp/double11/namelist/login_btn_focus.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#rankbox .start_Get .btnFocus{
    background-image: url(http://sky.fs.skysrt.com/statics/webvip/webapp/double11/namelist/start_game_focus.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#rankbox .free_Get .btnFocus{
    background-image: url(http://sky.fs.skysrt.com/statics/webvip/webapp/double11/namelist/free_btn_focus.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.rank_Get .submit,.again_Get .submit,.login_Get .submit{
    width: 228px;
    height: 75px;
}
.start_Get .submit,.free_Get .submit{
    width: 248px;
    height: 75px;
}

#double11{
    width: 1920px;
    height: 1080px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/namelist/11_rank_bg.png");
    position: relative;
}